<div class="card-header">
  <button class="btn-text btn-back">Alterar forma de pagamento</button>
  <div class="card-title">
    Adicionar um novo cartão de crédito
  </div>
  <div class="card-layout">
    <div class="card card-front-inactive" [ngClass]="{'card-active': !card.number && !card.cardBack}"></div>
    <div class="card card-back-inactive" [ngClass]="{'card-active': !card.number && card.cardBack}"></div>
    <div class="card card-front-active" [ngClass]="{'card-active': card.number && !card.cardBack}"></div>
    <div class="card card-back-active" [ngClass]="{'card-active': card.number && card.cardBack}"></div>
    <div class="card-front-info" [ngClass]="{'show-back': card.cardBack}">
      <div class="card-flag" [hidden]="!card.number">
        <img src="{{ getImageFlag(card.flag) }}" title="{{ card.flag }}"/></div>
      <div class="card-number">{{ formatCardNumber(card.number) }}</div>
      <div class="card-name">{{ formatCardName(card.name) }}</div>
      <div class="card-validate">{{ formatCardExpire(card.expire) }}</div>
    </div>
  </div>
</div>